.feature {
  height: 100%;
  border: 1px solid $white-offset;
  border-radius: 3px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  .feature-image {
    flex: 0 0 auto;
    height: 50px;
    display: flex;
    margin: 10px 20px;
    text-align: center;
    &.square {
      height: unset;
      img {
        max-height: 100px;
      }
    }
  }
  img {
    max-width: 100%;
    max-height: 50px;
    object-fit: contain;
  }
  .feature-title {
  }
  .feature-content {
    margin-bottom: 0;
  }
}
